@font-face {
    font-family: Forum;
    src: url(/fonts/Forum.ttf);
    src: url(/fonts/Forum-Regular.otf);
}

body {
	height: 100%;
	color: #D2D4D8;
	font-size: 17px;
	font-family: "Forum";
	background-color: #090E13;
}

.container {
	width: 600px;
	margin: 0px auto;
	color: #fff;
}

.logo {
	height: 120px;
	margin-top: 0.5em;
}
.header {
	margin-top: 1em;
	overflow: hidden;
	text-align: center;
}

.online {
	font-size: 2em;
	font-weight: 400;
	margin: 0;
	padding: 0.2em 1em;
}

.online-count {
	font-size: 1.2em;
}

.players-header {
	font-size: 2rem;
	padding: 0px 10% 10px;
	margin: 0;
}

ul {
	margin: 0px;
	padding: 0px 10px 0px;
}

li {
	font-size: 1rem;
	list-style-type: none;
	padding: 0em 10%;
}

.widget {
    width: 100%;
}

.widget #twitter-widget-0 {
	width: 80% !important;
	padding: 0em 10%;
	margin: 1em auto 0em !important;
    display: block !important;
}


a {
	color: inherit !important;
}

.block {
	width: 100%;
	margin: 0px auto;
	background-image: url('/img/background.png');
	background-position: center top;
	background-repeat: repeat-y;
	}

.right.on {
	color: #559A8B;
}

.right.off {
	color: #F66B65;
}

.right {
	float: right;
}

.center {
	text-align: center;
}

.description {
	font-size: 1.3rem;
	margin: 0em 1.3em;
	padding-bottom: 0.5em;
}

.copyright {
	padding: 1em 40px;
	font-size: 1.3em;
	margin: 0em 0em 1em;
}

#top {
    margin: 0px -28px -34px;
    width: 655px;
    height: 12px;
    background-image: url('/img/top.png');
    background-posiуtion: center top;
    background-repeat: no-repeat;
}

#fade {
	background-image: url('/img/eof.png');
	background-position: center top;
	background-repeat: no-repeat;
	height: 25px;
	width: 600px;
}

@font-face {
    font-family: Forum;
    src: url(/font/Forum.eot);
    src: url(/font/Forum.ttf);
}

.lastupdate {
	font-size: 1em;
	font-weight: 400;
	margin: 0;
	padding: 1em 2em;
}

.small {
	font-size: 0.6em;
}
